{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center m-5">Post edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <input class="btn btn-primary" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}
    <a class="btn btn-info mt-3 " href="{{ path('admin_post_index') }}">Retour à la liste</a>
    {{ form_start(delete_form) }}
    <input class="btn btn-danger mt-3" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
